html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}